header.masthead {
    //.masthead 
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: $gray-600;
    background-attachment: scroll;
    position: relative;
    @include background-cover;

    // .overlay
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $gray-900;
        opacity: 0.5;
    }


    //heading classes for different pages
    .page-heading,
    .post-heading,
    .site-heading {
        padding: 200px 0 150px;
        color: $white;

        @media only screen and (min-width: 768px) {
            padding: 200px 0;
        }
    }

    .page-heading,
    .site-heading {
        text-align: center;

        h1 {
            font-size: 50px;
            margin-top: 0;
        }
    }

    .subheading {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.1;
        display: block;
        position: relative;
        margin: 10px 0 0;
        @include sans-serif-font;

        @media only screen and (min-width: 992px) {
            animation-name: from-right;
            animation-duration: 0.5s;
            animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

            @keyframes from-right {
                0% {
                    left: -200px;
                }

                100% {
                    left: 0px;
                }
            }
        }
    }

    //Post.html Rule Sets
    //.post-heading,
    //.meta,
    //.subheading,



    // h1
    @media only screen and (min-width: 768px) {
        .site-heading {
            h1 {
                font-size: 62.5px;
            }
        }
        .subheading {
            font-size: 24px;
        }
    }

    @media only screen and (min-width: 992px) {
        .site-heading {
            h1 {
                font-size: 80px;
            }
        }
    }

    // Additional Masthead Section CSS Rule Sets
}
